.modalContainer {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90vw; 
max-width: 21rem; 
height: auto;    
padding: 2rem 1.5rem; 
background-color: #ffb3ba;
border-radius: 16px;
border: 2.5px solid #333; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; 
  margin-top: 0;
}

.title {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.closeButton {
  position: absolute; 
  top: 15px;        
  right: 15px;        
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;   
}

.content {
  padding: 2rem 0 0 0; 
}

@media (min-width: 768px) {
   .modalContainer {
        max-width: 26rem; 
        padding: 2.5rem 2rem; 
   }

   .title {
        font-size: 1.7rem;
   }
}

@media (min-width: 1600px) {
   .modalContainer {
        max-width: 40rem; 
        padding: 4rem 3rem; 
   }

   .title {
        font-size: 2.7rem;
   }
}