

.modalContainer {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 90vw; 
max-width: 21rem; 
 height: auto;    
min-height: 10rem;
background-color: #ffb3ba;
border-radius: 16px;
border: 2.5px solid #333; 
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1.8rem;

}

.title {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.closeButton {
  position: absolute; 
  top: 15px;        
  right: 15px;        
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;   
}

.content {
  padding: 0.5rem;
 
}

@media (min-width: 768px) {
   .modalContainer {

        max-width: 26rem; 
        min-height: 15rem;
   }

   .title {

    font-size: 1.7rem;
   }
}

@media (min-width: 1600px) {
   .modalContainer {

        max-width: 40rem; 
        min-height: 25rem;
   }

   .title {

    font-size: 2.7rem;
   }
}
