.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.puzzleHeader {

    margin-bottom: 2rem;
    font-size: 3rem;
    color: black
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}