.box {
 display: grid;
 grid-template-columns: repeat(4, 4.5rem);
 grid-template-rows: repeat(4, 4.5rem);
 gap: 2px;
 padding: 8px;
 background-color: #922323;
 border: 2px solid #ccc;
 border-radius: 2px;
}